<!DOCTYPE html>
<html>
    <head>
        <title>Hoopr</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
        <link href="https://fonts.googleapis.com/css?family=Anton|Graduate|Patua+One" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
<nav id="navbar">
    <div id="logo">
        <p><a href="/">HOOPR LOGO</a></p>
         <div id="gap"></div>
    </div>
   
    <form action="/courts" method="GET">
        <div id="search">
            <input type="text" name="search" placeholder="Search Courts By Address...">
            <button class="icon"><i class="fas fa-search"></i></button>
            <button><a href="/courts">Explore</a></button>
        </div>
    </form>
    <div id="authenticate">
        <% if(!currentUser){ %>
            <button><a href="/register">Sign Up</a></button>
            <button><a href="/Login">Login</a></button>
        <% } else {%>
            <p>Signed In As:<%= currentUser.username %></p>
                <button class="login"><a href="/logout">Log Out</a></button>
        <% } %>
        <button id="display-search-button"><i class="fas fa-search"  id="display-search"></i></button>
    </div>
    
</nav>
<form id="mobile-search">
    <input type="text" name="search" placeholder="Search Courts By Address...">
    <button id="mobile-search-submit"><i class="fas fa-search"></i></button>
    <span id="mobile-search-close">X</span>
</form>
   

<h2 class="message"><%= error %></h2>
<h2 class="message"><%= success %></h2>

<div class="eighty-wrapper">
<h1><%= court.name %></h1>

<div id="show-body">
<section id="show-info">
<img id="show-image" src="<%= court.image %>">
<div id="show-info-wrapper">
<% var address = function(street, city, state, zip){ %>
            
            <% var res = encodeURI(street + " " + city + " " + state + " " + zip); %>
            <% return res %>
        <% } %>
        
        <a id="address" href="https://www.google.com/maps/place/<%= address(court.address.street, court.address.city, court.address.state, court.address.zip) %>/">
            <h2 class="courts-address g-map"><%= court.address.street %></br>
                <%= court.address.city %>, <%= court.address.state %></br>
                <%= court.address.zip %>
            </h2>
        </a>
    <div id="show-hours">
        <p>Hours:</p>       
        <p>
            <%= court.hours.open.hour %>:<span class="start-minute"><%= court.hours.open.minute %></span> <%= court.hours.open.period %> to 
            <%= court.hours.close.hour %>:<span class="end-minute"><%= court.hours.close.minute %></span> <%= court.hours.close.period %></p>
    </div>
</div>
<div class="flex">
    <button class="comment-edit"><a href="/courts/<%= court._id %>/edit">EDIT</a></button>
    <form action="/courts/<%= court._id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form> 
</div>

<h2>Comments</h2>
<div id="comments">
    <% court.comments.forEach(function(comment){ %>
    <h4 class="comments-content comments-username"><%= comment.author.username %></h4>
    <p class="comments-content"><%= comment.text %></p>
    <% if(currentUser){ %>
        <div id="comments-edit">
            <button><a href="/courts/<%= court._id %>/comments/<%= comment._id %>/edit">EDIT</a></button>
            <form action="/courts/<%=court._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
        </div>
    <% } %>
    <% }) %>
</div> 
<button id="comment-button"><a href="/courts/<%= court._id %>/comments/new">Add a Comment</a></button>
</section>
<section id="show-games">
    <h2>Games</h2>
    <button style="margin-left:20px"><a href="/courts/<%= court._id %>/games/new">Create A Game</a></button>
    <% court.games.forEach(function(game){ %>
        <div class ="game-wrapper">    
            <div class="test">
                <p class="date">
                    Date: 
                    <span class = "month"><%= game.date.month %></span>/
                    <span class = "day"><%= game.date.day %></span>
                    <span class = "year"><%= game.date.year %></span> 
                    </br>
                    Time: <%= game.time.start.hour %>:<span class="start-minute"><%= game.time.start.minute %></span>
                    <%= game.time.start.period %>
                    to 
                    <%= game.time.end.hour %>:<span class="end-minute"><%= game.time.end.minute %></span>
                    <%= game.time.end.period %>
                </p>
                
                <% if(currentUser){ %>
                    <form action="/courts/<%= court._id %>/games/<%= game._id %>?_method=DELETE" method="POST">
                        <button><a href="/courts/<%= court._id %>/games/<%= game._id %>/edit">EDIT</a></button>
                        <button>DELETE</button>
                    </form>
                <% } %>
                
            </div>
            <div class="players">
                <p>Players:</p>
                <% game.players.forEach(function(player){ %>
                    <p style="text-indent:30px">>   <%= player.username %></p>
                <% }) %>
                </div>
                
                <div class="game-buttons">
                <form action="/courts/<%= court._id %>/games/<%= game._id %>/players" method="POST">
                    <input style="display:none" type="text" name="game" value="<%= game._id %>">
                    <button>JOIN</button>
                </form>
                
                <form action="/courts/<%= court._id %>/games/<%= game._id %>/players/leave" method="POST">
                    <input style="display:none" type="text" name="game" value="<%= game._id %>">
                    <button>LEAVE</button>
                </form>
            </div>
        </div>    
    <% }) %>
</section>
</div>
</div>

<script type="text/javascript" src="/scripts/show.js"></script>
<% include ../partials/footer.ejs %>